@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Inter";

    --color-background: #060606;
    --color-foreground: #36363699;
    --color-primary: #aaafff;
    --color-secondary: #e6e6e650;
    --color-heading: #aadfff;
    --color-body: #c3c3c3;

    --animate-intro: intro 1s 1 forwards;
    --animate-fade-out: fade-out 3s 1 forwards;
    --animate-wave: wave 1s 1;
}

*::-webkit-scrollbar {
    @apply hidden;
}

html,
body {
    @apply bg-background text-body font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply tracking-tighter;
}

img {
    @apply pointer-events-none;
}

.to-animate {
    @apply opacity-0 blur-sm;
}

@keyframes intro {
    0% {
        filter: blur(8px);
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        position: fixed;
        filter: blur(0px);
    }
    90% {
        opacity: 0;
        filter: blur(8px);
    }
    100% {
        opacity: 0;
        filter: blur(8px);
        display: none;
        z-index: -50;
    }
}

@keyframes wave {
    0%,
    100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
}

.path-0 {
    animation: pathAnim-0 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
    0% {
        d: path(
            "M 0,400 L 0,150 C 56.51310889135529,115.78093476384265 113.02621778271057,81.56186952768529 161,103 C 208.97378221728943,124.43813047231471 248.40823776051303,201.5334566531015 304,201 C 359.59176223948697,200.4665433468985 431.34083117523744,122.30430385990873 490,104 C 548.6591688247626,85.69569614009127 594.2284375385375,127.24932790726356 650,143 C 705.7715624614625,158.75067209273644 771.7454186706129,148.6983845110371 816,141 C 860.2545813293871,133.3016154889629 882.7898877790109,127.95713404858802 934,129 C 985.2101122209891,130.04286595141198 1065.0950302133433,137.47307929461093 1126,143 C 1186.9049697866567,148.52692070538907 1228.8299913676162,152.1505487729683 1278,153 C 1327.1700086323838,153.8494512270317 1383.5850043161918,151.92472561351585 1440,150 L 1440,400 L 0,400 Z"
        );
    }
    25% {
        d: path(
            "M 0,400 L 0,150 C 42.293698359847085,148.07986188185964 84.58739671969417,146.1597237637193 140,156 C 195.41260328030583,165.8402762362807 263.9441114810704,187.4409668269824 328,171 C 392.0558885189296,154.5590331730176 451.6361573560241,100.07640892835121 496,79 C 540.3638426439759,57.92359107164879 569.5112590948329,70.25339745961277 627,90 C 684.4887409051671,109.74660254038723 770.3188062646441,136.9100012331977 829,156 C 887.6811937353559,175.0899987668023 919.2135158465902,186.10659760759648 959,174 C 998.7864841534098,161.89340239240352 1046.8271303489948,126.66360833641635 1109,123 C 1171.1728696510052,119.33639166358365 1247.47796275743,147.2389690467382 1305,157 C 1362.52203724257,166.7610309532618 1401.261018621285,158.3805154766309 1440,150 L 1440,400 L 0,400 Z"
        );
    }
    50% {
        d: path(
            "M 0,400 L 0,150 C 37.55826859045507,176.5118263657664 75.11653718091014,203.02365273153285 134,190 C 192.88346281908986,176.97634726846715 273.0921198668146,124.41721543963497 330,100 C 386.9078801331854,75.58278456036503 420.51498335183135,79.30748550992723 475,92 C 529.4850166481687,104.69251449007277 604.8479467258602,126.35284252065605 663,135 C 721.1520532741398,143.64715747934395 762.0932297447282,139.28114440744852 804,129 C 845.9067702552718,118.71885559255148 888.7791342952273,102.52257984954989 950,90 C 1011.2208657047727,77.47742015045011 1090.790233074362,68.62853619435195 1149,92 C 1207.209766925638,115.37146380564805 1244.059933407325,170.9632753730423 1289,186 C 1333.940066592675,201.0367246269577 1386.9700332963375,175.51836231347886 1440,150 L 1440,400 L 0,400 Z"
        );
    }
    75% {
        d: path(
            "M 0,400 L 0,150 C 41.95560488346281,123.00007399186089 83.91120976692562,96.00014798372179 138,94 C 192.08879023307438,91.99985201627821 258.31076581576025,114.99948205697373 315,140 C 371.68923418423975,165.00051794302627 418.8457269700333,192.0019237883833 475,178 C 531.1542730299667,163.9980762116167 596.3063263041065,108.99282278949318 649,90 C 701.6936736958935,71.00717721050682 741.9289678135406,88.02678505364409 794,94 C 846.0710321864594,99.97321494635591 909.9778024417315,94.90003699593046 971,119 C 1032.0221975582685,143.09996300406954 1090.159822419534,196.3730669626341 1142,200 C 1193.840177580466,203.6269330373659 1239.3829078801332,157.60769515353311 1288,141 C 1336.6170921198668,124.39230484646689 1388.3085460599334,137.19615242323346 1440,150 L 1440,400 L 0,400 Z"
        );
    }
    100% {
        d: path(
            "M 0,400 L 0,150 C 56.51310889135529,115.78093476384265 113.02621778271057,81.56186952768529 161,103 C 208.97378221728943,124.43813047231471 248.40823776051303,201.5334566531015 304,201 C 359.59176223948697,200.4665433468985 431.34083117523744,122.30430385990873 490,104 C 548.6591688247626,85.69569614009127 594.2284375385375,127.24932790726356 650,143 C 705.7715624614625,158.75067209273644 771.7454186706129,148.6983845110371 816,141 C 860.2545813293871,133.3016154889629 882.7898877790109,127.95713404858802 934,129 C 985.2101122209891,130.04286595141198 1065.0950302133433,137.47307929461093 1126,143 C 1186.9049697866567,148.52692070538907 1228.8299913676162,152.1505487729683 1278,153 C 1327.1700086323838,153.8494512270317 1383.5850043161918,151.92472561351585 1440,150 L 1440,400 L 0,400 Z"
        );
    }
}
